<%= render :partial => "shared/responsive_navbar", :locals => { active_menu: "profile" } %>

<section class="w-full py-8">
  <div class="w-full max-w-4xl grid grid-cols-3 md:grid-cols-6 lg:grid-cols-8 mx-auto gap-x-8 gap-y-4 px-4 lg:px-0">
    <div class="col-span-1 md:col-span-2 lg:col-span-3">
        <%= render :partial => "shared/large_profile_picture", :locals => { user: @me } %>
    </div>
    <div class="col-span-2 md:col-span-4 lg:col-span-5">
        <h2 class="text-2xl font-bold text-slate-800"><%= @me.fullname %></h2>
        <%= render :partial => "editable_bio", :locals => { text: @me.bio } %>
        <% if @me.skills.length > 0 %>
          <div class="mt-8">
            <ul class="m-0 p-0 flex flex-row flex-wrap gap-2 align-top justify-start">
              <% @me.skills.each do |skill| %>
                <li>
                  <%= render :partial => "shared/skill", :locals => { skill: skill, skills_users_assoc: skill.skills_users.find_by(skill_id: skill.id, user_id: @me.id) } %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="mt-8">
          <div class="flex flex-row justify-between items-start">
            <div class="flex flex-row space-x-4 justify-center items-start">
              <div class="flex flex-row items-center justify-center w-12 text-slate-600">
                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path fill="currentColor" d="M12 20a1 1 0 0 1-.437-.1C11.214 19.73 3 15.671 3 9a5 5 0 0 1 8.535-3.536l.465.465.465-.465A5 5 0 0 1 21 9c0 6.646-8.212 10.728-8.562 10.9A1 1 0 0 1 12 20z"/>
                </svg>
              </div>
              <div class="flex flex-col">
                <h3 class="font-bold text-slate-600 text-lg">
                  <%= render :partial => "me/my_mentor_status", :locals => { is_mentor: @me.is_mentor } %>
                </h3>
                <p class="text-sm text-gray-400 mt-2">Becoming a hero without cape.</p>
                
                <%= render :partial => "shared/mentor_availability_link", :locals => { is_mentor: @me.is_mentor } %>
              </div>
            </div>
            <div class="flex flex-row items-center justify-center w-12 h-12">
              <%= render :partial => "mentor_opt_in_button", :locals => { is_mentor: @me.is_mentor } %>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>