  <%= form_with url: 'summarize_feedback', local: true, method: :post do |form| %>
<body>
<h1>Summarize Feedback</h1>
         <div >
                <div class = li>
                        
                        <div class = box >
                            <p class = text-left >Avg Class Rating </p>
                                <h2 class = text-center>
                                    <%= @courses_rating[:average_rating] %>/5 
                                </h2>
                        </div> 
                        <div class = box >
                            <p>Avg Trainer Rating</p>
                                <h2 class = text-center >
                                 <%= @trainer_rating[:average_trainer_rating] %>/5
                                </h2>
                        </div>
                        <div class = box >
                            <p class = text-left >Reccommend </p>
                            <h2 class = text-center >
                                <%= @recommend %> %
                            </h2>
                        </div>
                        <div class = box >
                            <p class = text-left >Record Count </p>
                            <h2 class = text-center>
                                <%= @record_count%>
                            </h2>
                        </div>
            
                    </div>
   <table>
        <tr class = text-center >
            <div>
                <th>Submitted date</th>
                <th>Class Rating</th>
                <th>Trainer Rating</th>
                <th>Comment</th>
                <th>Recommend</th>
            </div>
        </tr>
   
        <% @class_feedback.each do |class_feedback| %> 
             <tr>
            
                    <td><%= class_feedback.created_at %></td>
                    <td><%= class_feedback.rating %></td>
                    <td><%= class_feedback.rating_trainer %> </td>
                    <td><%= class_feedback.comment %> </td>  
                    <td><%= class_feedback.recommend %> </td>
            </tr>  
        <% end %> 
    </table>
    </div>


                    
<% end %>

</body>