<div class="bg-white w-full h-auto" x-data="{ menuOpen: false }" @click.away="menuOpen = false" @keydown.window.escape="menuOpen = false">
    <!-- Popup Menu -->
    <div class="relative z-40 lg:hidden" x-show="menuOpen">
        <div class="fixed inset-0 bg-black bg-opacity-25 pointer-events-none" aria-hidden="true"></div>
        <div class="fixed inset-0 z-40">
            <div class="bg-white w-full flex flex-col overflow-y-auto pb-10 shadow-sm">
                <div class="flex px-8 py-4">
                    <button type="button" class="relative -m-2 inline-flex items-center justify-center rounded-md p-2 text-gray-400" @click="menuOpen = false">
                        <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex flex-col space-y-1 px-4 py-6">
                    <a href="#" class="block p-2 font-medium text-gray-900 w-full hover:bg-slate-300 hover:rounded-md hover:text-gray-600">Classes</a>
                    <a href="<%= mentors_path %>" data-turbo-frame="page_content" class="block p-2 font-medium text-gray-900 w-full hover:bg-slate-300 hover:rounded-md hover:text-gray-600">Find a Mentor</a>
                </div>
                <div class="flex flex-col space-y-1 px-6 py-6 border-t border-gray-200">
                    <div class="flex flex-row items-center space-x-4">
                        <%= render :partial => "shared/profile_picture" %>
                        <div class="flex flex-col -space-y-2">
                            <div class="font-bold"><%= current_user.fullname %></div>
                            <div class="">-</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col space-y-1 px-4">
                    <a href="#" class="block p-2 font-medium text-gray-900 w-full hover:bg-slate-300 hover:rounded-md hover:text-gray-600">Your Profile</a>
                    <a href="#" class="block p-2 font-medium text-gray-900 w-full hover:bg-slate-300 hover:rounded-md hover:text-gray-600">Settings</a>
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "block p-2 font-medium text-gray-900 w-full hover:bg-slate-300 hover:rounded-md hover:text-gray-600", role: "menuitem", tabindex:"-1", id:"user-menu-item-2" %>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar -->
    <div class="relative px-8 flex items-center justify-between border-b py-4 lg:py-0">
        <div class="block lg:hidden">
            <button type="button" class="relative -m-2 inline-flex items-center justify-center rounded-md p-2 text-gray-400" @click="menuOpen = true">
                <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <div class="flex flex-row space-x-8 items-center">
            <div class="flex-shrink-0"><a href="<%= root_path %>"><img class="h-8 w-auto" src="<%= image_url "logo-black.png" %>" alt="ODT"></a></div>
            <div class="hidden lg:block">
                <nav>
                    <ul class="flex flex-row space-x-4">
                        <li><a href="#" class="block py-6 px-6 font-medium text-slate-500 w-full border-b-2 border-transparent hover:border-slate-800 hover:text-slate-800">Classes</a></li>
                        <li><a href="<%= mentors_path %>" data-turbo-frame="page_content" class="block py-6 px-6 font-medium text-slate-500 w-full border-b-2 border-transparent hover:border-slate-800 hover:text-slate-800">Find a Mentor</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="hidden lg:block" x-data="{ profileMenuOpen: false }" @click.away="profileMenuOpen = false" @keydown.window.escape="profileMenuOpen = false">
            <button type="button" class="relative flex rounded-full text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true" @click="profileMenuOpen = true">
                <%= render :partial => "shared/profile_picture" %>
            </button>

            <div class="hidden absolute right-8 z-10 py-2 space-y-2 mt-2 w-48 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1" :class="{'hidden': !profileMenuOpen}">
                <a href="#" class="rounded-md block mx-2 px-4 py-2 text-sm text-gray-700 hover:bg-gray-300" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                <a href="#" class="rounded-md block mx-2 px-4 py-2 text-sm text-gray-700 hover:bg-gray-300" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                <hr class="border-0 border-b border-gray-300">
                <%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "rounded-md mx-2 block text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-300", role: "menuitem", tabindex:"-1", id:"user-menu-item-2" %>
            </div>
        </div>
    </div>
</div>
