<h1>Home#index <%= @name %></h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= turbo_frame_tag "new_feedback" do %>
  <%= link_to "new", class_feedbacks_new_path %>
<% end %>

<%= turbo_stream_from "new_class_feedback" %>

<div id="class-feedbacks">
  <%= render @class_feedbacks %>
</div>
